/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  justify-content: fixed;
  background-color: #282c34;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}


/* Navigation styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F6EE;
  padding: 0px 20px;
}

a {
  color: #282c34;
  text-decoration: none;
}

a:hover {
  text-decoration: selected;
  color: #666;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
  padding: 0;
}

nav li:last-child {
  margin-right: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

nav a:hover {
  color: #666;
}


/* Home page  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

h1, h2 {
  font-weight: normal;
}


h1 {
  font-size: 36px;
  margin-top: 0;
  color: #333;
}

h2 {
  font-size: 36px;
  margin-top: 0;
  color: #fff;
}

p {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  color: #282c34;
  text-align: center;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #F9F6EE;
  border-radius: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

textarea {
  padding: 8px;
  font-size: 14px;
  resize: none;
}

form.idea-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  display: block;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

textarea {
  display: inline-flex;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  resize: vertical;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  display: block;
  margin: 0 auto;
  background-color: #666;
  border-color: #b9b6b6;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border-radius: 20px;
}

.btn:hover {
  background-color: #8a8888;
}

.btn:active {
  background-color: #ccc;
  border-color: #ccc;
}

/* Media queries for tablet and mobile responsiveness */
@media only screen and (max-width: 768px) {
  .container {
      width: 90%;
  }

  .shape-list li {
      width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
      width: 100%;
      padding: 0 20px;
  }

  .shape-list li {
      width: 100%;
  }
}

@media  screen and (max-width: 699px) {
  header {
      flex-direction: column;
  }
  
}
