<!DOCTYPE html>
<html>
  <head>
    <title>Brainstorming Tools</title>
    <link rel="stylesheet" type="text/css" href="/CSS/brain.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1><a href="/HTML/index.html">Indecisive Minds</a></h1>
      <nav>
        <ul id="ul2">
          <li><a href="/HTML/index.html">Home</a></li>
          <li><a href="/HTML/idea-gen.html">Idea Generator</a></li>
          <li><a href="/HTML/brain.html">Brainstorming Tools</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Brainstorming Techniques and Resources</h2>
      <p>Here are some tools and resources you can use to improve your brainstorming sessions:</p>
      <ul>
        <li>Mind maps</li>
        <li>SWOT analysis</li>
        <li>Reverse brainstorming</li>
        <li>SCAMPER technique</li>
        <li>Random word generator</li>
        <li>Brainstorming software/tools</li>
      </ul>
      <p>For more information on how to use these techniques, check out the following resources:</p>
      <ul>
        <li><a href="https://www.mindtools.com/pages/article/newCT_94.htm" target="_blank">Mind Tools</a></li>
        <li><a href="https://www.smartdraw.com/mind-map/" target="_blank">SmartDraw Mind Map</a></li>
        <li><a href="https://creately.com/diagram-type/mind-map" target="_blank">Creately Mind Map</a></li>
        <li><a href="https://www.swotanalysis.com/" target="_blank">SWOT Analysis</a></li>
        <li><a href="https://www.edrawsoft.com/reverse-brainstorming.php" target="_blank">Edraw Reverse Brainstorming</a></li>
        <li><a href="https://www.creativitygames.net/random-word-generator" target="_blank">Creativity Games Random Word Generator</a></li>
      </ul>
    </main>
  </body>
</html>
