{% extends 'base.html' %}

{% block title %}Indecisive Minds - Helping You Choose a Website Topic{% endblock %}

{% block content %}
  <h2>Welcome to Indecisive Minds!</h2>
  <p>Are you struggling to choose a topic for your website? Do you feel like you have so many ideas that you don't know where to start? <br>You've come to the right place! Indecisive Minds is here to help you navigate the tricky process of choosing a website topic.</p>

  <p>Indecisive Minds website provides a variety of resources to help you make a decision. Here are some of the things you can find on our site:</p>
  <ul>
    <li>Idea generator</li>
    <li>Brainstorming tools</li>
    <!-- <li>Examples and inspiration</li>
    <li>Expert advice</li>
    <li>Community support</li> -->
  </ul>
  <p>Don't let indecision hold you back from creating a website that reflects your passions and interests. Let Indecisive Minds help you choose a topic that you'll be excited to work on.</p>
{% endblock %}